<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ivi.com.eivi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="false"
        android:icon="@mipmap/p"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/panda_texts_icons"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login.Login"
            android:allowBackup="true"
            android:label="@string/app_name"
            android:theme="@style/MyMaterialTheme.Base">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <activity android:name=".Login.AC1___SET_PROFILE" />
        <activity android:name=".Login.AC3__SET_PROFILE" />
        <activity android:name=".Login.AC4__SET_PROFILE" />
        <activity android:name=".Login.AC5__SET_PROFILE"/>
        <activity android:name=".Home_Pages.View_Home_Comment_Adapter" />
        <activity android:name=".Next_View_Pageer.Next_View" />
        <activity android:name=".Home" />
        <activity android:name=".Login.Rig" />
        <activity android:name=".Gold" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8af0646d205d9be9e8e77c8bbb74def1f983271a" />

        <activity android:name=".Admin.Admin" android:theme="@style/Theme.CustomDialog"/>
        <activity android:name=".Admin.Admin_Add_Posts" android:theme="@style/Theme.CustomDialog"/>



    </application>

</manifest>